<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-move-task-modal
      [moveTask]="moveTask.bind(this)"
      #topicMoveModal
      [days]="days"
    ></app-move-task-modal>
    <section class="main bg-light">
      <div class="container-fluid">
        <div class="row pt-5">
          <div class="col" style="height: 100vh;">
            <div class="row pb-4">
              <div class="col-2"></div>
              <div class="col-4">
                <div><strong>Subject: </strong>Subject 1</div>
              </div>
              <div class="col-6">
                <div><strong>Syllabus: </strong>Syllabus 1</div>
              </div>
            </div>
            <div class="row">
              <div class="col-2 text-center">
                <button
                  class="btn rounded-pill my-4 px-4 text-white bOPrimary"
                  type="button"
                  (click)="addDay()"
                >
                  Add Day
                </button>
                <div class="row">
                  <div class="col text-left pl-4">
                    <div class="d-inline-flex">
                      <p>Day</p>
                      <p class="tOPrimary" id="days-count">
                        ({{ days.length }})
                      </p>
                    </div>
                    <div id="days">
                      <button
                        class="bGrey rounded p-2 d-inline-flex my-2 btn"
                        style="width: 100%;"
                        *ngFor="let day of days; index as i"
                        [ngClass]="{
                          bGrey: i != selectedDay,
                          bGreyS: i == selectedDay
                        }"
                      >
                        <p
                          class="flex-grow-1 m-0"
                          (click)="selectDay(day['day'])"
                        >
                          Day{{ day["day"] }}
                        </p>
                        <fa-icon
                          [icon]="faTimes"
                          class="tOPrimary"
                          (click)="removeDay(day['day'])"
                        ></fa-icon>
                      </button>
                    </div>
                    <hr />
                  </div>
                </div>
              </div>
              <div
                class="col-10 bg-white pl-5 py-3 pl-2"
                style="height: 100vh;"
              >
                <div class="row">
                  <div class="col-4" id="display-day" *ngIf="selectedDay >= 0">
                    <div class="row">
                      <div class="col-4">
                        <app-task-modal
                          [checkSave]="checkSave.bind(this)"
                          [addTask]="addTask.bind(this)"
                        ></app-task-modal>
                      </div>
                      <div class="col">
                        <div
                          class="form-group has-search rounded-pill bGrey d-inline-flex py-1 px-3"
                        >
                          <input
                            type="text"
                            class="flex-grow-1"
                            placeholder="Search..."
                            style="background-color: transparent; border: 0;"
                          />
                          <fa-icon
                            [icon]="faSearch"
                            class="text-secondary"
                            style="font-size: 1em;"
                          ></fa-icon>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col">
                        <strong class="mb-4">TOPICS</strong>
                        <div id="topics">
                          <button
                            class="rounded p-2 d-inline-flex my-2 btn"
                            style="width: 100%;"
                            *ngFor="
                              let task of days[selectedDay]['component'].tasks;
                              index as i
                            "
                            [ngClass]="{
                              bGrey: i != selectedTask,
                              bGreyS: i == selectedTask
                            }"
                          >
                            <p
                              class="flex-grow-1 m-0"
                              (click)="selectTask(i, task)"
                            >
                              {{ task["title"] }}
                            </p>
                            <span class="badge badge-success m-1">{{
                              task["type"]
                            }}</span>
                            <span
                              class="badge badge-success m-1"
                              (click)="
                                selectTask(i, task); topicMoveModal.open()
                              "
                              >Move</span
                            >
                            <fa-icon
                              [icon]="faTimes"
                              class="tOPrimary"
                              (click)="removeTask(i)"
                            ></fa-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-8"
                    id="display-task"
                    *ngIf="selectedTask >= 0"
                  >
                    <div class="d-inline-flex topnav">
                      <div
                        (click)="showContent()"
                        id="content"
                        [ngClass]="{
                          active: selectedTaskDetails['index'] == 1
                        }"
                      >
                        Content
                      </div>
                      <div
                        (click)="showInstructions()"
                        id="instruction"
                        [ngClass]="{
                          active: selectedTaskDetails['index'] == 2
                        }"
                      >
                        Instruction to Mentor
                      </div>
                    </div>
                    <angular-editor
                      [placeholder]="'Enter text here...'"
                      [(ngModel)]="htmlContent"
                      [config]="editorConfig"
                    ></angular-editor>
                    <div class="text-right">
                      <button
                        class="btn btn-success m-2"
                        type="button"
                        (click)="save()"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>